* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
 
  min-height: 100vh;
  background: url(../Images/WhatsApp\ Image\ 2025-04-20\ at\ 22.53.38_f67eab42.jpg) no-repeat center center/cover;
  background-size: cover;
  flex-direction: column;
  position: relative;
}

.Reset-password {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 420px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
  
 }

.Reset-password h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.input-login {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-login input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-login input::placeholder {
  color: #fff;
}

.input-login i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #fff;
}

.button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 10px;
}

.Register {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 10px;
}

.Register p {
  color: #fff;
}

.Register p a {
  color: #3498db; /* أزرق أنيق */
  text-decoration: none;
  margin-left: 10px;
}

.button:hover {
  background-color: #e4b95b; /* اللون الأصفر */
  color: #000; /* عشان الكتابة تكون واضحة */
}


.log {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.log .logo img {
  width: 80px;
  margin-left: 20px;
}
